<html>

<head>
    <meta charset="utf-8">
    <title>{{.title}}</title>
    <meta http-equiv="Email" content="jungmu@jungmu.dev" />
    <meta name="keywords" content="golang, dev, programming, program, computer, code, coding, linux, ssl, tls, web" />
    <meta name="author" content="Jungmu" />
    <meta name="description" content="{{.title}}" />
    <meta name="og:site_name" content="jungmu's devlog" />
    <meta name="og:title" content="{{.title}}" />
    <meta name="og:description" content="{{.title}}" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://devlog.jungmu.dev/blog" />
    <meta name="og:image" content="https://devlog.jungmu.dev/assets/logo.PNG" />
</head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8659618338500304" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>
    {{template "nav.tmpl"}}
    <div class="chat">
        <textarea name="" id="chat" cols="30" rows="40" disabled></textarea>
        <input type="text" id="input" onkeyup="enterkey()">
        <button onclick="sendChat()">send</button>
    </div>
</body>
{{template "footer.tmpl"}}

</html>
<script>
    function enterkey() {
        if (window.event.keyCode == 13) {
            sendChat()
        }
    }

    function sendChat() {
        var input = document.querySelector("#input").value;
        var chat = document.querySelector("#chat").value;
        document.querySelector("#chat").value = chat + "\nHuman: " + input + "\nAI: ";
        chat = document.querySelector("#chat").value;
        document.querySelector("#input").value = "";

        axios
            .post(
                "/ai/chat/",
                {
                    chat: chat,
                },
            )
            .then(function (response) {
                document.querySelector("#chat").value = response.data.chat
                document.querySelector("#chat").scrollTop = document.querySelector("#chat").scrollHeight;
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
{{template "style.tmpl"}}