<html>

<head>
  <meta charset="utf-8">
  <title>{{.title}}</title>
  <meta http-equiv="Email" content="jungmu@jungmu.dev" />
  <meta name="keywords" content="golang, dev, programming, program, computer, code, coding, linux, ssl, tls, web" />
  <meta name="author" content="Jungmu" />
  <meta name="description" content="{{.subTitle}}" />
  <meta name="og:site_name" content="jungmu's devlog" />
  <meta name="og:title" content="{{.title}}" />
  <meta name="og:description" content="{{.subTitle}}" />
  <meta name="og:type" content="website" />
  <meta name="og:url" content="https://devlog.jungmu.dev/blog" />
  <meta name="og:image" content="https://devlog.jungmu.dev/assets/logo.PNG" />
</head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8659618338500304" crossorigin="anonymous"></script>

<body>
  {{template "nav.tmpl"}}
  <div class="article">
    <p>update : {{.update}}</p>
    <p>create : {{.create}}</p>
    <p>view count : {{.viewCount}} / visit count : {{.visitCount}}</p>
    <div class="line"></div>
    {{.markdown}}
  </div>
  <p class="edit"><a href="/blog/edit/{{.title}}">edit article</a></p>
</body>
{{template "footer.tmpl"}}

</html>
{{template "style.tmpl"}}