<html>
  <head>
    <meta charset="utf-8">
    <title>{{.title}}</title>
    <meta http-equiv="Email" content="jungmu@jungmu.dev" />
    <meta name="keywords" content="golang, dev, programming, program, computer, code, coding, linux, ssl, tls, web" />
    <meta name="author" content="Jungmu" />
    <meta name="description" content="jungmu's devlog" />
    <meta name="og:site_name" content="jungmu's devlog" />
    <meta name="og:title" content="{{.title}}" />
    <meta name="og:description" content="jungmu's devlog" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://devlog.jungmu.dev/blog" />
    <meta name="og:image" content="https://devlog.jungmu.dev/assets/logo.PNG" />
  </head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8659618338500304" crossorigin="anonymous"></script>
  <body>
    {{template "nav.tmpl"}}    
    <h1>{{.title}}</h1>
    <p class="total-view">total view : {{.totalView}}</p>
    <p class="total-visit">total visit : {{.totalVisit}}</p>
    <div class="posts">      
      {{ range.Posts }}
      <div class="post">
        <h1><a href="/blog/article/{{.Title}}">{{.Title}}</a></h1>
        <a href="/blog/article/{{.Title}}">{{.SubTitle}}</a>
        <br>
        update : {{.UpdateDateTime}}
        <br>
        create : {{.CreateDateTime}}
        <br>
        <br>
        {{ range.Tags }}
        <a href="/blog?tag={{.}}">#{{.}}</a> 
        {{ end }}
      </div>
      {{ end }}
    </div>
  </body>
  {{template "footer.tmpl"}}
</html>

{{template "style.tmpl"}}