<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.title}}</title>
    <meta property="og:image" content="/assets/wedding/0214_.jpg" />
    <meta property="og:title" content="정종선 ❤️ 김지안 결혼합니다."/>
    <meta property="og:description" content="2023년 2월 5일 일요일 오전 11시"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet"> 
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=331f2665dc7598d3dfac035e0ee0c491&libraries=services,clusterer,drawing"></script>

<body id="body">
    <audio id="player" autoplay="" loop="">
        <source src="/assets/wedding.mp3" type="audio/mp3">
    </audio>
    <div id="btn-player">
        <button id="btn-bgm" onclick="playBGM()">
            <img src="/assets/play.png" alt="" id="img-bgm">
        </button>
    </div>
    <div class="container">
        <div class="section">
            <hr class="line-1">
            <hr class="line">
            <hr class="empty">
            <hr class="empty">
            <h3 class="f14">FEB | 05 | 2023</h3>
            <h2 class="f16">정 종 선  &  김 지 안</h2>
            <hr class="empty">
        </div>
        <div class="section">
            <img src="/assets/wedding/0214_.jpg" alt="">
        </div>
        <div class="section">
            <h2 class="f14 white-gray">Invitation</h2>
            <p class="f16">설레이도록 새하얀 겨울날,</p>
            <br>
            <p class="f16">저희 두 사람의 특별한 시작을</p>
            <br>
            <p class="f16">소중한 분들과 함께하고 싶습니다.</p>
        </div>
        <div class="section">
            <h3 class="f16">2023년 2월 5일 일요일 오전 11시</h3>
            <h3 class="f16">더 컨벤션 신사</h3>            
        </div>
        <div class="section">
            <img src="/assets/gallary/1232_.jpg" alt="">
        </div>
        <div class="section">
            <p class="f16">같이 웃을 때 제일 행복한 저희가</p>
            <br>
            <p class="f16">늘 함께 하고 싶어</p>
            <br>
            <p class="f16">부부의 연을 맺습니다.</p>
            <br>
            <p class="f16">|</p>
            <br>
            <p class="f16"><span class="f16 bold">정권성 ⋅ 곽은숙</span>의 장남 정종선</p>
            <p class="f16"><span class="f16 bold">김병유 ⋅ 한미자</span>의 장녀 김지안</p>
            <br>
            <p></p>
            <br>
            <p></p>
        </div>
        <div class="section">
            <hr class="line-1">
            <h2 class="f18 title">Interview</h2>
            <hr class="line-1">
        </div>
        <div class="section">
            <div class="flex">
                <div class="left-img">
                    <div>
                        <img src="/assets/gallary/image38.jpeg" alt="">
                        <p class="f12">신랑 <span class="f14 bold-light">정종선</span></p>
                    </div>
                </div>
                <div class="right-article">
                    <p class="f12">우물안의 개구리였던 나에게</p>
                    <p class="f12">세상의 넓음을 알려준 너는</p>
                    <p class="f12">인생이라는 여행의 가이드같아</p>
                    <p class="f12">이 여행이 끝나는 그날 까지</p>
                    <p class="f12">언제나 함께하자.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="flex">
                <div class="left-article">
                    <p class="f12">오빠는 나에게 낭만을 </p>
                    <p class="f12">선물해 준 사람이야.</p>
                    <p class="f12">함께 하면 작은일도 행복이 되고</p>
                    <p class="f12">긴장했던 마음은 편안해지지.</p>
                    <p class="f12">만나왔던 7년이 그랬듯 </p>
                    <p class="f12">언제까지나 서로에게 </p>
                    <p class="f12">가장 따뜻한 집이 되어주자.</p>
                    <br>
                </div>
                <div class="right-img">
                    <div>
                        <img src="/assets/gallary/0494_.jpg" alt="">
                        <p class="f12">신부 <span class="f14 bold-light">김지안</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <img src="/assets/gallary/image27.jpeg" alt="">
            <div class="letter">
                <br>
                <p class="f14">함께 한 나날이 고맙고</p>
                <p class="f14">함께 할 나날이 설레어</p>
                <p class="f14">모든 사람들 앞에서 사랑을 맹세합니다.</p>
                <br>
                <p class="f14">저희 두 사람 새로운 시작을</p>
                <p class="f14">따뜻한 마음으로 축복해주시면 감사하겠습니다.</p>
                
                <p class="f14">종선 & 지안 드림</p>
                <br>
                <p></p>
                <br>
                <p></p>
                <br>
            </div>
        </div>
        <div class="section">
            <hr class="line-1">
            <h2 class="f18 title">Memory</h2>
            <hr class="line-1">
        </div>
        <div class="section">
            <div id="columns">
                {{ range $index, $element := .files }}
                    <figure>
                        <div class="figure-img">
                            <img id="{{$index}}" class="g-img" onclick="showModal(this)" src="{{$element}}">
                        </div>
                    </figure>
                {{ end }}
            </div>
        </div>
        <div class="section calendar">
            <div class="row">
                <div class="col-100"><h2>02</h2></div>
            </div>
            <div class="row">
                <div class="col-10 red"><p>일</p></div>
                <div class="col-10"><p>월</p></div>
                <div class="col-10"><p>화</p></div>
                <div class="col-10"><p>수</p></div>
                <div class="col-10"><p>목</p></div>
                <div class="col-10"><p>금</p></div>
                <div class="col-10 blue"><p>토</p></div>
            </div>
            <div class="row">
                <div class="col-10 red"><p></p></div>
                <div class="col-10"><p></p></div>
                <div class="col-10"><p></p></div>
                <div class="col-10"><p>1</p></div>
                <div class="col-10"><p>2</p></div>
                <div class="col-10"><p>3</p></div>
                <div class="col-10 blue"><p>4</p></div>
            </div>
            <div class="row">
                <div class="col-10"><div class="wedding"><p>5</p></div></div>
                <div class="col-10"><p>6</p></div>
                <div class="col-10"><p>7</p></div>
                <div class="col-10"><p>8</p></div>
                <div class="col-10"><p>9</p></div>
                <div class="col-10"><p>10</p></div>
                <div class="col-10 blue"><p>11</p></div>
            </div>
            <div class="row">
                <div class="col-10 red"><p>12</p></div>
                <div class="col-10"><p>13</p></div>
                <div class="col-10"><p>14</p></div>
                <div class="col-10"><p>15</p></div>
                <div class="col-10"><p>16</p></div>
                <div class="col-10"><p>17</p></div>
                <div class="col-10 blue"><p>18</p></div>
            </div>
            <div class="row">
                <div class="col-10 red"><p>19</p></div>
                <div class="col-10"><p>20</p></div>
                <div class="col-10"><p>21</p></div>
                <div class="col-10"><p>22</p></div>
                <div class="col-10"><p>23</p></div>
                <div class="col-10"><p>24</p></div>
                <div class="col-10 blue"><p>25</p></div>
            </div>
            <div class="row">
                <div class="col-10 red"><p>26</p></div>
                <div class="col-10"><p>27</p></div>
                <div class="col-10"><p>28</p></div>
                <div class="col-10"><p></p></div>
                <div class="col-10"><p></p></div>
                <div class="col-10"><p></p></div>
                <div class="col-10 blue"><p></p></div>
            </div>
            <div class="row date">
                <p>2023년 2월 5일 일요일 오전 11시</p>
            </div>
        </div>
        <div class="section">
            <hr class="line-1">
            <h2 class="f18 title">오시는길</h2>
            <hr class="line-1">
            <div class="row margin-20">
                <div class="col-7"></div>
                <div class="col-40">
                    <button class="button bold kakao" onclick="goKakaoMap()">카카오 지도 바로가기</button>
                </div>
                <div class="col-6"></div>
                <div class="col-40">
                    <button class="button bold" onclick="goNaverMap()">네이버 지도 바로가기</button>
                </div>
                <div class="col-7"></div>
            </div>
            <div class="row">
            </div>
            <div class="map">
                <div id="map" style="width:100%;height:300px;"></div>
            </div>
            <div class="row">
                <p class="f16">더 컨벤션 신사</p>
            </div>
            <div class="row">
                <p class="f14 bold bottom-margin">서울 강남구 강남대로 652</p>
            </div>
            <div class="row">                
                <button class="button bold" onclick="showLocation()">상세 주소</button>
            </div>
        </div>
        <div class="section">
            <hr class="dashed">
            <h2 class="f14 bold">마음 전하실 곳</h2>
            <div class="row">
                <div class="col-50">
                    <div class="row"><p class="f16"><span class="f14 bold">신랑</span> 정종선</p></div>
                    <br>
                    <div class="row">
                        <a href="tel:010-9406-9452">
                            <button class="button contect bold-light">
                                전화걸기
                            </button>
                        </a>
                    </div>
                    <div class="row">
                        <button class="button contect bold-light" onclick="showAccountModal('신한은행','110-338-177795', '정종선')">
                        계좌번호
                        </button>
                    </div>
                    <div class="row">
                        <a href="https://qr.kakaopay.com/Ej7212E9a">
                            <button class="button bold-light" style="background: #fef01b !important; margin-top: 5px;">
                                카카오페이
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-50">
                    <div class="row"><p class="f16"><span class="f14 bold">신부</span> 김지안</p></div>
                    <br>
                    <div class="row">
                        <a href="tel:010-8893-0856">
                            <button class="button contect bold-light">
                                전화걸기
                            </button>
                        </a>
                    </div>
                    <div class="row">
                        <button class="button contect bold-light" onclick="showAccountModal('우리은행','1002-548-129340','김지안')">
                        계좌번호
                        </button>
                    </div>
                    <div class="row">
                        <a href="https://qr.kakaopay.com/Ej8Znj9US">
                            <button class="button bold-light" style="background: #fef01b !important; margin-top: 5px;">
                                카카오페이
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="empty"></div>


            <div class="row">
                <div class="col-50 right-border">
                    <div class="row">
                        <h2 class="f12">신랑 측 혼주</h2>
                    </div>
                    <div class="row">
                        <div class="row">
                            <p class="f16"><span class="f14 bold">아버지</span> 정권성</p>
                        </div>
                        <div class="row">
                            <a href="tel:010-3731-3357">
                                <button class="button contect bold-light">
                                    전화걸기
                                </button>
                            </a>
                        </div>
                        <div class="row">
                            <button class="button contect bold-light" onclick="showAccountModal('새마을금고','8010-3731-33570', '정권성')">
                            계좌번호
                            </button>
                        </div>
                    </div>
                    <div class="row top-margin">
                        <div class="row top-margin">
                            <p class="f16"><span class="f14 bold">어머니</span> 곽은숙</p>
                        </div>
                        <div class="row">
                            <a href="tel:010-5152-9452">
                                <button class="button contect bold-light">
                                    전화걸기
                                </button>
                            </a>
                        </div>
                        <div class="row">
                            <button class="button contect bold-light" onclick="showAccountModal('국민은행','204-21-1428-306', '곽은숙')">
                            계좌번호
                            </button>
                        </div>  
                    </div>
                </div>
                <div class="col-49">
                    <div class="row">
                        <h2 class="f12">신부 측 혼주</h2>
                    </div>
                    <div class="row">
                        <div class="row">
                            <p class="f16"><span class="f14 bold">아버지</span> 김병유</p>
                        </div>
                        <div class="row">
                            <a href="tel:010-3710-0856">
                                <button class="button contect bold-light">
                                    전화걸기
                                </button>
                            </a>
                        </div>
                        <div class="row">
                            <button class="button contect bold-light" onclick="showAccountModal('국민은행','856-21-0104-174','김병유')">
                            계좌번호
                            </button>
                        </div> 
                    </div>
                    <div class="row top-margin">
                        <div class="row top-margin">
                            <p class="f16"><span class="f14 bold">어머니</span> 한미자</p>
                        </div>
                        <div class="row">
                            <a href="tel:010-2065-0856">
                                <button class="button contect bold-light">
                                    전화걸기
                                </button>
                            </a>
                        </div>
                        <div class="row">
                            <button class="button contect bold-light" onclick="showAccountModal('국민은행','856702-04-007792','한미자')">
                            계좌번호
                            </button>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="section bottom-margin-6">
            <img src="/assets/wedding/0318_.jpg" alt="">
        </div>
    </div>
    <div class="modal">
        <div class="modal-body">
            <img id="target" class="modal-img" src="/assets/gallary/0166_.jpg" alt="">
        </div>
    </div>
    <div class="modal-location">
        <div class="modal-location-body">
            <hr class="line">
            <h2 class="f14">더 컨벤션 신사</h2>
            <hr class="line">
            <p></p>
            <br>
            <span class="subject">상세주소</span>
            <p class="f12 top-margin">서울 강남구 강남대로 652</p>
            <p class="f12 bottom-margin">(지번) 신사동 504-11</p>
            <span class="subject">교통편</span>
            <h2 class="f14 bold bottom-margin-6">지하철 이용 시</h2>
            <p class="f12">신사역 (3호선, 신분당선) 6번 출구 (도보 5분)</p> 
        
            <h2 class="f14 bold bottom-margin-6">버스 이용 시</h2>
            <p class="f12">240, 4312, 9404, 6009, 145, 148, 441 </p>
            <p class="f12">542, 4212, 3030, 강남 08, 서초 03</p> 
            
            <div class="row flex-right">
                <button class="right-button" onclick="hideLocation()">X</button>
            </div>
        </div>
    </div>
    <div class="modal-account">
        <div class="modal-account-body">
            <div class="row">
                <p id="account-bank" class="f16"></p>
            </div>
            <div class="row">
                <p id="account" class="f16"></p>
            </div>
            <div class="row">
                <p id="account-name" class="f16">예금주 : </p>
            </div>
            <div class="row">
                <p id="copy-message" class="red f12">복사 되었습니다.</p>
                <br>
                <p></p>
            </div>
            <div class="row">
                <div class="col-50">
                    <button class="button" onclick="accountCopy()">복사하기</button>
                </div>
                <div class="col-50">
                    <button class="button" onclick="hideAccountModal()">닫기</button>
                </div>
            </div>

        </div>
    </div>
</body>
    </html>
<script>
    var downX = 0;
    var downY = 0;
    var diffX = 0;
    var diffY = 0;
    var selectedImg = 0;
    var downCount = 0;

    var gallaryImgList = document.querySelectorAll(".g-img");
    
    function init() {
        const el = document.getElementById("target");
        el.onpointerdown = pointerdownHandler;
        el.onpointermove = pointermoveHandler;

        el.onpointerup = pointerupHandler;
        el.onpointercancel = pointerupHandler;
        el.onpointerout = pointerupHandler;
        el.onpointerleave = pointerupHandler;
    }

    function pointerdownHandler(ev) {
        downCount++;
        downX = ev.clientX;
        downY = ev.clientY;
    }

    function pointermoveHandler(ev) {
        if (downCount === 0) {
            resetDiff();
            return
        }
        diffX = downX - ev.clientX;
        diffY = downY - ev.clientY;
    }

    const isMobile = () => {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    }

    function pointerupHandler(ev) {
        if (!isMobile()){
            hideModal();
        }

        if (downCount > 1 || downCount === 0) {
            resetDiff();
            return
        }

        let absX = Math.abs(diffX);
        let absY = Math.abs(diffY);
        if (absX < 10 && absY < 10){
            resetDiff();
            return
        }

        if (absY > absX && diffY < -10) {
            hideModal();
        } else {
            let last = gallaryImgList.length - 1;
            let next;
            if (diffX < -10) {
                next = Number(selectedImg)-1;
                if (next < 0) {
                    next = last;
                }
            } else if (diffX > 10) {
                next = Number(selectedImg)+1;
                if (next > last) {
                    next = 0;
                }
            } else {
                resetDiff();
                return
            }
            let img = gallaryImgList[next];
            modalImg.src = img.src;
            selectedImg = next;
        }
        resetDiff();
    }

    function resetDiff(){
        diffX = 0
        diffY = 0
        downCount = 0;
    }

    const body = document.querySelector("#body");
    const modal = document.querySelector('.modal');
    const modalImg = document.querySelector('.modal-img');

    var isModalInit = false;

    function showModal(img) {
        if(!isModalInit){
            init();
            isModalInit = true;
        }

        selectedImg = img.id;

        modalImg.src = img.src;
        modal.style.display = 'block';
        body.style.overflow = 'hidden';
    }
    function hideModal() {
        modal.style.display = 'none';
        body.style.overflow = 'auto';
    }

    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places(); 

    // 키워드로 장소를 검색합니다
    ps.keywordSearch('더 컨벤션 신사', placesSearchCB); 

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);    
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }       

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        } 
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {
        
        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x) 
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }

    function goKakaoMap() {
        window.location = "https://map.kakao.com/link/map/1050718692"
    }

    function goNaverMap() {
        window.location = "nmap://search?query=%eb%8d%94+%ec%bb%a8%eb%b2%a4%ec%85%98+%ec%8b%a0%ec%82%ac&appname=wedding.jungmu.dev"
    }

    function initBGM(){
        var player = document.getElementById('player');
        let img = document.querySelector("#img-bgm");
        if(player.paused){
            img.src = "/assets/play.png"
        } else {
            img.src = "/assets/pause.png"
        }
    } 
    initBGM();

    function playBGM(){
        var player = document.getElementById('player');
        let img = document.querySelector("#img-bgm");
        if(player.paused){
            player.play();
            img.src = "/assets/pause.png"
        }else{
            player.pause();
            img.src = "/assets/play.png"
        }
    }

    const locationModal = document.querySelector('.modal-location');
    function showLocation(){
        locationModal.style.display = 'block';
        body.style.overflow = 'hidden';
    }
    function hideLocation(){
        locationModal.style.display = 'none';
        body.style.overflow = 'auto';
    }

    const accountModal = document.querySelector('.modal-account');
    const accountBank = document.querySelector('#account-bank');
    const accountAddr = document.querySelector('#account');
    const accountName = document.querySelector('#account-name');
    const copyMessage = document.querySelector('#copy-message');
    var copyText = "";
    function showAccountModal(bank, account, name){
        accountBank.innerHTML = bank;
        accountAddr.innerHTML = account;
        accountName.innerHTML = "예금주 : "+ name;
        copyText = account.replaceAll('-','');

        accountModal.style.display = 'block';
        copyMessage.style.display = 'none';
        body.style.overflow = 'hidden';
    }
    function hideAccountModal(){
        accountModal.style.display = 'none';
        body.style.overflow = 'auto';
    }
    function accountCopy(){
        if (navigator.clipboard && window.isSecureContext) {
            // navigator clipboard api method'
            navigator.clipboard.writeText(copyText);
            copyMessage.style.display = 'block';
            return
        } else {
            // text area method
            let textArea = document.createElement("textarea");
            textArea.value = copyText;
            // make the textarea out of viewport
            textArea.style.position = "fixed";
            textArea.style.left = "-999999px";
            textArea.style.top = "-999999px";
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();
            return new Promise((res, rej) => {
                // here the magic happens
                document.execCommand('copy') ? res() : rej();
                textArea.remove();
                copyMessage.style.display = 'block';
            });
        }
    }
</script>
<style>
    
    h2 {
        font-family: 'Noto Serif KR', serif;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
    h3 {
        font-family: 'Noto Serif KR', serif;
        text-align: center;
        font-size: 12px;
    }
    p {
        font-family: 'Noto Serif KR', serif;
        text-align: center;
        font-size: 10px;
        margin: 0;
    }
    span {
        font-family: 'Noto Serif KR', serif;
        text-align: center;
        font-size: 12px;
        margin: 0;
    }
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    img {
        max-width: 100%;
    }

    .container{
        margin: auto;
        width: 100%;
        max-width: 640px;
    }

    .section {
        margin: 5vh 0;
    }

    .line-1{
        width: 90%;
        border-bottom: 1px solid;
        border-top: 0;
        border-left: 0;
        padding: 0;
        margin: 1px 5%;
        height: 1px;
    }

    .line{
        width: 90%;
        border-bottom: 2px solid;
        border-top: 0;
        border-left: 0;
        padding: 0;
        margin: 1px 5%;
        height: 1px;
    }

    .dotted {
        width: 90%;
        border-bottom: 1px dotted;
        border-color: #cccccc;
        border-top: 0;
        border-left: 0;
        padding: 0;
        margin: 1px 5%;
        height: 1px;
    }

    .dashed {
        width: 90%;
        border-bottom: 1px dashed;
        border-color: #cccccc;
        border-top: 0;
        border-left: 0;
        padding: 0;
        margin: 1px 5%;
        height: 1px;
    }

    .empty {
        border: 0;
        padding: 0;
        margin: 10px;
        height: 1px;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    .left-img {
        display: flex;
        flex: 4 1 0;
        margin-left: 5%;
    }
    .right-article {
        flex: 5 1 0;
        margin: auto;
    }
    .right-article p {
        margin: 2px 5px;
        text-align: left;
    }
    .right-img {
        flex: 4 1 0;
        margin-right: 5%;
    }
    .left-article {
        flex: 5 1 0;  
        margin: auto;
    }
    .left-article p {
        margin: 2px 5px;
        text-align: right;
    }
    .letter {
        margin: 20px;
    }
    .letter p {
        margin: 2px 5px;
        text-align: right;
    }
    .modal-location{
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        z-index: 10;

        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-location-body {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        border-radius: 10px;

        width: 90%;

        padding: 10px;

        text-align: left;

        transform: translateX(-50%) translateY(-50%);
    }

    .modal-location-body p{
        text-align: left;
        margin-left: 32px;
    }

    .modal-location-body h2{
        text-align: left;
        margin-left: 32px;
    }

    .modal-account{
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        z-index: 10;

        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-account-body {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        border-radius: 10px;

        width: 240px;

        padding: 10px;

        text-align: left;

        transform: translateX(-50%) translateY(-50%);
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;

        display: none;
        background-color: rgb(255, 255, 255);
    }

    .modal-body {
        position: absolute;
        top: 50%;
        left: 50%;

        text-align: center;

        transform: translateX(-50%) translateY(-50%);
    }

    .modal-body img {
        max-width: 200%;
        max-height: 100vh;
        transform: translateX(-25%);
    }

    #columns {
        column-width: 110px;
        column-gap: 3px;
        width: 90%;
        margin: auto;
    }

    div#columns figure {
        background: #fefefe;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .figure-img {
        margin: 0px 1px;
    }

    .calendar {
        display: flex;
        flex-wrap: wrap;
        background-color: #f5f5f5;
        text-align: center;
        padding: 15px 0 50px 0;
    }

    .calendar .date {
        margin-top: 25px;
        
    }

    .calendar .date p {
        font-size: 14px;
        font-weight: 700;
    }

    .row {
        display: flex;
        flex : 0 1 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-100 h2 {
        font-size: 22px;
    }

    .col-100 {
        flex-direction: column;
        width: 100%;
    }
    .col-50 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .col-49 {
        display: flex;
        flex-direction: column;
        width: 49%;
    }
    .col-40 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    
    .col-35 {
        display: flex;
        flex-direction: column;
        width: 35%;
    }
    .col-20 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .col-10 {
        flex-direction: column;
        width: 10%;
        margin: 10px 0;
    }

    .col-10 p {
        font-size: 14px;
    }

    .col-7 {
        flex-direction: column;
        width: 7%;
        margin: 10px 0;
    }

    .col-6 {
        flex-direction: column;
        width: 6%;
        margin: 10px 0;
    }

    .blue {
        color: blue;
    }

    .red {
        color: red;
    }

    .white-gray {
        color: #cccccc;
    }

    .wedding {
        margin: auto;
        color: white;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        line-height: 20px;
    }

    #btn-bgm {
        position: fixed;
        top: 5px;
        right: 5px;
        width: 40px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border-style: none;
    }
    #btn-bgm img {
        width: 100%;
    }

    .f10 {
        font-size: 10px;
    }

    .f12 {
        font-size: 12px;
    }

    .f14 {
        font-size: 14px;
    }

    .f16 {
        font-size: 16px;
    }

    .f18 {
        font-size: 18px;
    }

    .bold {
        font-weight: 700;
    }

    .bold-light {
        font-weight: 500;
    }

    .right-border{
        border-right: 1px dashed #cccccc;
    }

    .margin-20{
        margin: 20px;
    }

    .map {
        margin: 30px;
    }

    .copy-message {
        display: none;
    }

    .button {
        background-color: #dddddd;
        margin: auto;
        padding: 5px 20px;
        border-radius: 15px;
        border-style: hidden;
        color: #121212;
    }

    .right-button{
        background-color: #dddddd;
        padding: 5px 20px;
        border-radius: 10px;
        border-style: hidden;
        color: #121212;
    }

    .contect{
        margin-top: 5px;
    }

    .subject {
        background-color: #dddddd;
        border-radius: 15px;
        padding: 3px 9px;
        margin: 10px 30px;
        font-size: 12px;
        font-weight: 700;
    }

    .bottom-margin {
        margin-bottom: 10px;
    }

    .bottom-margin-6 {
        margin-bottom: 6px;
    }

    .top-margin {
        margin-top: 10px;
    }

    .flex-right {
        justify-content: right;
    }

    .title {
        padding: 20px;
    }

    .kakao {
        background-color: #fef01b;
    }

</style>
